:root{
    --color-primary: #F16718;
    --color-secondary: #ffffff;
    --color-title: #162542;
    --color-text: #52607e;
    --font-family: "Barlow", sans-serif;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: var(--font-family);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 90rem;
    margin: 0 auto;
}



/*Mobile*/

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 8%;
}

.header_logo{
    width: 40px;
    height: 40px;
}

.header_preorder_anchor{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-family);
    color: var(--color-title);
    font-weight: 700;
    transition: 0.5s ease-out;
}

.header_preorder_anchor:hover{
    background-color: var(--color-title);
    color: var(--color-secondary);
}


/*Introduction section*/

.introduction_information{
    padding: 0 1.5rem;
}

h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: clamp(2.9rem, 3vw, 3rem);
    margin-bottom: 1.5rem;
}

p{
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.introduction_preorder_release_div{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 5rem;
}

.introduction_preorder_anchor{
    text-decoration: none;
    background-color: var(--color-primary);
    height: 3.5rem;
    width: 10.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    transition: 0.5s ease-out;
}

.introduction_preorder_anchor:hover{
    outline: 3px solid var(--color-primary);
    outline-offset: 5px;
}

.introduction_release_date{
    color: var(--color-text);
    text-transform: uppercase;
    font-weight: 700;
}

.introduction_image{
    display: flex;
    justify-content: end;
    margin-left: 2rem;
}

.introduction_image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 2rem;
    max-width: 600px;
}

/*information section*/

.information_section{
    font-family: var(--font-family);
}

.information_images_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    min-height: 12rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.information_phone_keyboard > img, .information_glass_keyboard > img{
    border-radius: 20px;
}

.information_picture_phone_keyboard {
  position: relative;
  grid-column: 1/2;
  min-height: 12rem;
  overflow: hidden;
  border-radius: 20px;
}

.information_picture_phone_keyboard::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #f16818b0;
  z-index: 1;
}

.information_picture_glass_keyboard{
    grid-column: 2/-1;
    min-height: 12rem;
}

.information_phone_keyboard{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.information_glass_keyboard{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.information_info_div, .features_section{
    padding: 0 2rem;
}

h2{
    font-size: clamp(2.5rem, 3vw, 2.9rem);
    font-weight: 900;
    text-transform: uppercase;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

/*Features sections*/

.features_section{
    margin-bottom: 2rem;
}

.features_list{
    list-style: none;
}

.feature_div{
    background-color: var(--color-primary);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
}

h3{
    font-size: clamp(1.8rem, 3vw, 2rem);
    padding-right: 8rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2rem;
}

/*Footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

/*Tablet*/

@media (min-width: 768px) {

    /*Header*/

    header{
        padding: 3rem 3rem 0 3rem;
        margin-bottom: 4rem;
    }

    .header_preorder_anchor{
        background-color: #52607e44;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 10.6rem;
        height: 3.6rem;
    }

    /*Introduction section*/
    
    .introduction_section{
        display: flex;
        margin-bottom: 3rem;
    }

    .introduction_image >img{
        height: 26.5rem;
        margin: 0;
    }

    .introduction_information{
        max-width: 26rem;
    }

    .introduction_release_date{
        margin: 0;
    }

    /*Information section*/

    .information_info_div{
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
    }

    .features_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .features_item{
        max-width: 21rem;
        margin-top: 0.5rem;
    }

    h3{
        margin: 1rem 0;
    }

}

/*Desktop*/

@media (min-width: 1024px) {

    main{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    section, footer{
        grid-column: 1/-1;
    }

    section{
        margin-bottom: 6rem !important;
    }

    .introduction_section{
        justify-content: space-evenly;
    }

    .information_section{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        min-height: 30rem;
    }

    .information_images_div{
        grid-column: 2/9;
    }

    .information_info_div{
        grid-column: 9/-1;
        flex-direction: column;
    }
    
    .features_list{
        flex-wrap: nowrap;
    }

    .features_item{
        max-width: 16rem;
        padding: 0 1rem;
    }

    h3{
        font-size: 22px;
        padding: 0;
        margin: 2rem 0;
    }
}